<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<head>
    <title>Cao Đẳng Công Thương </title>
</head>
<body>

<div class="col-sm-12">
		<h3 style="text-align: center;">Danh sách Ứng Viên đăng kí du học</h3>
		<div>
			<a th:href="@{/admin/listCountry}">Danh sách nước ngoài</a>	<br></br>
			<a th:href="@{/admin/printReportOversea}">In báo cáo</a>
		</div>
		<table id="dtVerticalScrollExample"
			class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Ngày đăng kí</th>
					<th scope="col">Tên ứng viên</th>
					<th scope="col">Số điện thoại</th>
					<th scope="col">Địa chỉ</th>
					<th scope="col">Nước đăng kí</th>
					<th scope="col">Khối ngành</th>
					<th scope="col">Ngày sinh</th>
					<th scope="col">Số điểm</th>
					<th scope="col">Khối thi</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "candidate: ${listCandidate}">
					<td th:utext = "${candidate.id}"></td>
					<td th:utext = "${candidate.dateCreated}"></td>
					<td th:utext = "${candidate.fullName}"></td>
					<td th:utext = "${candidate.phoneNumber}"></td>
					<td th:utext = "${candidate.address}"></td>
					<td th:utext = "${candidate.countryName}"></td>
					<td th:utext = "${candidate.majorName}"></td>
					<td th:utext = "${candidate.dateOfBirth}"></td>
					<td th:utext = "${candidate.totalScore}"></td>
					<td th:utext = "${candidate.grade}"></td>
				</tr>
			</tbody>
		</table>
	</div>

<script type="text/javascript">
		$(document).ready(function() {
			$('#dtVerticalScrollExample').DataTable({
				"pagingType" : "full_numbers",
				"bStateSave" : true
			});

		});
</script>
</body>
</html>