<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<head>
    <title>Cao Đẳng Công Thương</title>
</head>
<body>

<div class="col-sm-12">
	<h3 style="text-align: center;">Danh sách các khoa đại học chính quy</h3>
	<a th:href="@{/user/listCandidate?type=1}">Quay lại danh sách ứng viên</a>
	<div class="row" style="margin-top:20px">
       <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
           <form th:action="@{/admin/addFaculty}" th:object ="${faculty}">
                Thêm Khoa mới:
        		<input type="text" th:field="*{name}" />    
        		<input type="submit" value="Create" />
           </form>
       </div>
    </div>
		<table id="dtVerticalScrollExample"
			class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Tên Khoa</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "faculty: ${listFaculty}">
					<td th:utext = "${faculty.id}"></td>
					<td th:utext = "${faculty.name}"></td>
				</tr>
			</tbody>
		</table>
	</div>

<script type="text/javascript">
		$(document).ready(function() {
			$('#dtVerticalScrollExample').DataTable({
				"pagingType" : "full_numbers",
				"bStateSave" : true
			});

		});
</script>
</body>
</html>